.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

header {
    height: 22vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

/* logo + barre de recherche + icone  */
.menutop {
    display: flex;
    flex-wrap: nowrap;
    height: 6vh;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0 auto;
    align-items: baseline;
    justify-content: space-between;
    background-color: white;

}

/* logo  */
.logo {
    width: 10%;
    text-align: center;

}

.logo img {
    vertical-align: middle;
    width: 100%;
}

/*barre de recherche */
.search {
    background-color: #F5F4F5;
    border-radius: 45px;
    width: 65%;

    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.searchtext {
    justify-content: left;
    vertical-align: middle;
    margin-left: 1.5rem;
    color: #424242;
}

.searchicone {

    justify-content: baseline;
    justify-self: right;

    margin-right: 1rem;
    margin-top: 0.5rem;
}

.searchbutton {
    background: none;
    border: none;
    color: #0082C3;
    font-size: 1.5rem;
    margin: 0 auto;
}


.icones {
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

/* .icones i {
    font-size: 1.5rem;
} */

.icones p {
    margin: 0 auto;
    font-size: 0.7rem;
}

/* barre de nav  */
.menunav {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 0.4rem; */
    background-color: white;
    margin-top: 0 auto;
    margin-bottom: 0.3rem;

}

ul {
    list-style: none;
}

li {
    float: left;
    margin: 1rem;

}

.navbar {
    display: block;
    background: none;
    border: none;
    color: black;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.navbar:hover {
    color: #0082C3;
}

.navbarblue {
    color: #0082C3;
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;

}

.navbarred {
    color: #E3262F;
    background: none;
    border: none;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.navbarred:hover {
    background-color: pink;
}

.CTAFRENCHDAY {
    background-color: #FFCD4E;
    height: 6vh;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    justify-content: baseline;

}

.CTAtext {
    width: 75%;
    text-align: center;
}

.CTAtext p {
    font-size: 0.8rem;
}

.CTAicone {
    margin-top: 0.6rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;


}

.flexgridpromo {

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.gridpromo {
    display: grid;
    width: 90%;
    height: 65%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 0.5rem;
    margin-top: 30vh;
}

.gridpromo img {
    object-fit: fill;
}

.gridleftimg {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    cursor: pointer;


}

.gridrighttopimg {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    cursor: pointer;

}

.gridrightbotimg {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    cursor: pointer;

}


.menunav2 {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin: 1rem;
    background-color: white;
    margin-top: 3rem;
}

.navbar2 {
    display: block;
    background-color: #F5F4F5;
    border: solid #F5F4F5;
    color: black;
    font-size: large;
    width: 12rem;
    height: 5rem;
    font-style: bold;
    font-size: large;
    cursor: pointer;


}

.navbargrey {
    color: #4D6F56;
    background-color: #F5F4F5;
    border: solid #F5F4F5;
    font-size: large;
    width: 12rem;
    height: 5rem;
    font-size: large;
    cursor: pointer;
}

.navbarred2 {
    color: #E3262F;
    background-color: #F5F4F5;
    border: solid #F5F4F5;
    font-size: large;
    width: 12rem;
    height: 5rem;
    font-size: large;
    cursor: pointer;
}

.flexgrid2 {

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.grid2 {
    display: grid;
    width: 90%;
    height: 65%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.grid2 img {
    /* object-fit: scale-down; */
    object-fit: fill;
}

.grid2img1 {
    grid-column: 1/2;

    height: 100%;
    width: 100%;
    cursor: pointer;


}

.grid2img2 {
    grid-column: 2/3;

    height: 100%;
    width: 100%;
    cursor: pointer;

}

.grid2img3 {
    grid-column: 3/4;

    height: 100%;
    width: 100%;
    cursor: pointer;

}